<div class="row mb-5" style="margin: 0;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-md-10">
        <div class="row p-3" >
          <div class="col-12 col-md-1"></div>
          <div class="col-12 col-md-2 d-flex justify-content-center align-items-center">
            <img src="<%= usuario.fotoPerfil %>" alt="Foto de perfil do usuário" class="profile-picture">
          </div>
          <div class="col-12 col-md-6 textoPerfil p-3 d-flex flex-column justify-content-center text-center">
            <h1><%= usuario.nome %></h1>
            <span class="text-center"><%= usuario.bio %></span>
            <div class="mt-3">
              <span class="seguidores" data-bs-toggle="modal" data-bs-target="#seguidoresModal">Seguidores <strong><%= quantidadeSeguidores %></strong> </span>
              <span class="seguidores" data-bs-toggle="modal" data-bs-target="#seguindoModal">Seguindo <strong><%= quantidadeSeguindo %></strong> </span>
              <span class="seguidores">Posts <strong><%= quantidadePosts %></strong> </span>
            </div>
          </div>
          <div class="col-12 col-md-2 d-flex justify-content-center align-items-center">
            <% if (idSessao == idUsuario ) { %>
              <button class="botao-editar-perfil">
                <span>Editar perfil</span>
              </button>
            <% } else { %>
              <% if (!seguindoList.includes(Number(idUsuario))) { %>
                <a href="/perfil/seguir/<%= idUsuario %>">
                  <button class="botao-seguir">
                    <span>Seguir</span>
                  </button>
                </a>
              <% } else { %>
                <a href="/perfil/deixar-de-seguir/<%= idUsuario %>">
                  <button class="botao-seguindo">
                    <span>Seguindo</span>
                  </button>
                </a>
              <% } %>
            <% } %>
          </div>
          <div class="col-12 col-md-1"></div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
    </div>
  </div>
              <div class="container-xl">
                <span style="color: #fff; margin-bottom: 5rem; font-size: 2rem">Posts</span>
                <hr style="border-top: 2px solid #2ba84a;">
                <div class="row mt-4">
                  <% posts.forEach((post) => { %>
                    <div class="col-lg-10 offset-lg-1">
                        <div class="card mb-3 post">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-auto">
                                        <a href="/perfil/<%= post.autorId %>">
                                            <img src="<%= post.fotoPerfil %>" alt="Foto de perfil do usuário" class="user-profile-picture rounded-circle">
                                        </a>
                                    </div>
                                    <div class="col d-flex justify-content-between">
                                      <div>
                                        <span class="autor-post"><%= post.autor %></span>
                                        <span class="data-post"><%= post.data %> </span>
                                      </div>
                                    
                                      <div class="dropdown">
                                        <a style="color: #fff;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                          <li>
                                              <% if (idSessao === post.autorId) { %>
                                                <a class="dropdown-item" href="/post/deletar/<%= post.idpost %>">Deletar</a>
                                              <% } else { %>
                                                <a class="dropdown-item" href="#">Denunciar</a>
                                              <% } %>
                                            </li>
                                        </ul>
                                      </div>
                                    </div>
                                      
                                </div>
                            </div>
                            <div class="card-body">
                              <a href="/post/<%= post.idpost %>">
                                <h5 class="card-title texto-post"><%= post.texto %></h5>
                                <% if (post.postType === 'undefined') { post.postType = 'música'; } %>
                                <% if (post.postType === 'album') { %>
                                    <div class="container-album">
                                        <img src="<%= post.posterAlbum %>" alt="Poster do álbum" class="album-poster">
                                        <div class="column">
                                            <h2 class="titulo-album"><%= post.albumName %></h2>
                                            <h3 class="artist-name">
                                                  <%= post.artistName %> • <%= post.postType %> • <%= isNaN(post.releaseDate / 60) ? new Date(post.releaseDate).getFullYear() : Math.round(post.releaseDate / 60) + ' min' %> •
                                                <% for(let i = 0; i < 5; i++) { %>
                                                    <% if(post.nota > i) { %>
                                                        <% if(post.nota > i && post.nota < i+1) { %>
                                                            <i class="bi bi-star-half"></i>
                                                        <% } else { %>
                                                            <i class="bi bi-star-fill"></i>
                                                        <% } %>
                                                    <% } else { %>
                                                        <i class="bi bi-star"></i>
                                                    <% } %>
                                                <% } %>
                                            </h3>
                                        </div>
                                    </div>
                                <% } else { %>
                                  <div class="container-musica d-flex">
                                    <img src="<%= post.posterMusica %>" alt="Poster da música" class="music-poster">
                                    <div class="d-flex align-items-center justify-content-between w-100">
                                        <div>
                                            <h2 class="titulo-musica"><%= post.musicName %></h2>
                                            <h3 class="artist-name">
                                                <%= post.artistName %> • <%= post.postType %> • <%= isNaN(post.releaseDate / 60) ? new Date(post.releaseDate).getFullYear() : Math.round(post.releaseDate / 60) + ' min' %> •
                                                <% for(let i = 0; i < 5; i++) { %>
                                                    <% if(post.nota > i) { %>
                                                        <% if(post.nota > i && post.nota < i+1) { %>
                                                            <i class="bi bi-star-half"></i>
                                                        <% } else { %>
                                                            <i class="bi bi-star-fill"></i>
                                                        <% } %>
                                                    <% } else { %>
                                                        <i class="bi bi-star"></i>
                                                    <% } %>
                                                <% } %>
                                            </h3>
                                        </div> 
                                      </a>
                                      <div class="botao-play ml-auto" style="margin-right: 1rem;">
                                        <% if(post.musicPreview) { %>
                                            <button class="play-pause-btn" onclick="togglePlayPause(this)" data-preview-url="<%= post.musicPreview %>">
                                                <i class="bi bi-play-fill"></i>
                                            </button>
                                        <% } %> 
                                    </div>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                          </a>  
                            <div class="card-footer">
                                <div class="interacoes">
                                    <button type="button" class="btn botao-interacao">
                                        <i class="bi bi-chat"></i> <small class="comment-count"><%= post.quantidadeComentarios %></small>
                                    </button>
                                    <a class="likes-count like-button" data-post-id="<%= post.idpost %>" href="<% if(likesList.includes(post.idpost)) { %>/post/descurtir/<%- post.idpost %><% } else { %>/post/curtir/<%- post.idpost %><% } %>">
                                        <% if(likesList.includes(post.idpost)) { %>
                                            <i class="bi-heart-fill btn botao-interacao"></i>
                                        <% } else { %>
                                            <i class="bi bi-heart btn botao-interacao"></i>
                                        <% } %>
                                        <span class="numero"><%= post.likes %></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
                </div>
          

        <div id="popup" style="display: none;">
            <form action="/perfil/editar" method="post" enctype="multipart/form-data">
                <div class="row d-flex">
                  <div class="header-editar-perfil">
                    <div>
                      <i style="cursor: pointer; font-size: 1.2rem;" class="bi bi-x-lg"></i>
                      <span>Editar perfil</span>
                    </div>
                    <input id="btn-salvar-edicao" type="submit" value="Salvar">
                  </div>
                  <div class="img-inputs">
                    <img class="profile-picture" src="<%= usuario.fotoPerfil %>" alt="Foto de perfil" style="cursor: pointer;" onclick="document.getElementById('foto').click();">
                    <input type="file" id="foto" name="foto" style="display: none;">
                    <div class="editar-perfil-inputs">
                      <% if (typeof error !== 'undefined') { %>
                        <div class="alert m-0"><%= error %></div>
                    <% } %>
                      <input type="text" id="nome" name="nome" value="<%= usuario.nome %>">
                      <input type="text" id="bio" name="bio" value="<%= usuario.bio %>">
                    </div>
                  </div> 
                </div>
              </form>
          </div>
          
          <div id="overlay" style="display: none; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0, 0, 0, 0.5);"></div>

</div>
<div class="col-2"></div>
<div class="modal fade" id="seguidoresModal" tabindex="-1" aria-labelledby="seguidoresModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="seguidoresModalLabel">Seguidores</h5>
        <button type="button" class="botao-seguindo" style="border: none;" data-bs-dismiss="modal"><i style="cursor: pointer; font-size: 1.2rem;" class="bi bi-x-lg"></i></button>
      </div>
      <div class="modal-body">
        <% seguidoresList.forEach(function(seguidor) { %>
          <div class="d-flex justify-content-between mb-3">
            <a style="color: #fff;" href="/perfil/<%= seguidor.id %>">
              <div class="d-flex align-items-center">
                <img src="<%= seguidor.foto %>" alt="Foto de perfil do usuário" class="user-profile-picture rounded-circle" style="margin-right: .5rem;">  
                <p><%= seguidor.nome %></p>
              </div>
            </a>
            <% if (seguidor.id !== idSessao) { %>
              <% if (!seguindoList.includes(Number(seguidor.id))) { %>
                <a href="/perfil/seguir/<%= seguidor.id %>">
                  <button class="botao-seguir">
                    <span>Seguir</span>
                  </button>
                </a>
              <% } else { %>
                <a href="/perfil/deixar-de-seguir/<%= seguidor.id %>">
                  <button class="botao-seguindo">
                    <span>Seguindo</span>
                  </button>
                </a>
              <% } %>
            <% } %>
          </div>
        <% }); %>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="seguindoModal" tabindex="-1" aria-labelledby="seguindoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="seguindoModalLabel">Seguindo</h5>
        <button type="button" class="botao-seguindo" style="border: none;" data-bs-dismiss="modal"><i style="cursor: pointer; font-size: 1.2rem;" class="bi bi-x-lg"></i></button>
      </div>
      <div class="modal-body">
        <% seguindoListNome.forEach(function(seguindo) { %>
          <div class="d-flex justify-content-between mb-3">
            <a style="color: #fff;" href="/perfil/<%= seguindo.id %>">
              <div class="d-flex align-items-center">
                <img src="<%= seguindo.foto %>" alt="Foto de perfil do usuário" class="user-profile-picture rounded-circle" style="margin-right: .5rem;">  
                <p><%= seguindo.nome %></p>
              </div>
            </a>
            <% if (seguindo.id !== idSessao) { %>
              <% if (!seguindoList.includes(Number(seguindo.id))) { %>
                <a href="/perfil/seguir/<%= seguindo.id %>">
                  <button class="botao-seguir">
                    <span>Seguir</span>
                  </button>
                </a>
              <% } else { %>
                <a href="/perfil/deixar-de-seguir/<%= seguindo.id %>">
                  <button class="botao-seguindo">
                    <span>Seguindo</span>
                  </button>
                </a>
              <% } %>
            <% } %>
          </div>
        <% }); %>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

    

<body>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    $('.like-button').on('click', function(event){
      event.preventDefault();
      const postId = $(this).data('post-id');
      const likeCount = $(this).find('.numero'); 
      const likeIcon = $(this).find('i');
      const hasLiked = likeIcon.hasClass('bi-heart-fill');
      const url = hasLiked ? `/post/descurtir/${postId}` : `/post/curtir/${postId}`;
      $.ajax({
        url: url,
        method: 'GET',
        success: function(response){
          likeCount.text(response.likeCount);
          if(hasLiked){
            likeIcon.removeClass('bi-heart-fill');
            likeIcon.addClass('bi-heart');
          } else {
            likeIcon.removeClass('bi-heart');
            likeIcon.addClass('bi-heart-fill');
          }
        }
      })
    })

    let audio;

    function togglePlayPause(btn) {
      const playIcon = 'bi-play-fill';
      const pauseIcon = 'bi-pause-fill';
  
      // Recupere a URL de pré-visualização do botão
      const previewUrl = btn.dataset.previewUrl;
  
      // Se o botão não tiver uma instância de Audio associada a ele, crie uma
      if (!btn.audio) {
          btn.audio = new Audio(previewUrl);
          btn.audio.addEventListener('ended', function() {
              btn.children[0].classList.remove(pauseIcon);
              btn.children[0].classList.add(playIcon);
          });
      }
  
      if (btn.children[0].classList.contains(playIcon)) {
          btn.audio.play();
          btn.children[0].classList.remove(playIcon);
          btn.children[0].classList.add(pauseIcon);
      } else {
          btn.audio.pause();
          btn.children[0].classList.remove(pauseIcon);
          btn.children[0].classList.add(playIcon);
      }
  }

  </script>
</body>