<div class="row m-0">
    <div class="col-md-2"></div>
<div class="col-md-8">

        <div class="card mb-4" style="border: none;">
            <div class="card-body post-container">
                <div class="d-flex align-items-center">
                    <img src="<%= post.fotoPerfil %>" alt="Foto de perfil do usuário" class="user-profile-picture">
                    <h4 class="username"><%= post.autor %></h4>
                </div>
                <h2 class="titulo-musica"><%= post.musicName %></h2>
                <h3 class="artist-name"><%= post.artistName %></h3>
                <h2><%= post.title %></h2>
                <p class="card-text"><%= post.texto %></p>
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn botao-like">
                        <i class="bi bi-chat"></i> <small class="comment-count"><%= post.comentarios.length %></small>
                    </button>
                    <a class="likes-count" href="/post/curtir/<%- post.idpost %>"><i
                            class="bi bi-heart btn botao-like"></i>
                        <%= post.likes %> </small></a>
                </div>
                <div class="comments" id="comments<%= post.idpost %>">
                    <form id="comentario-form-<%= post.idpost %>" action="/comentarios" method="POST">
                        <input type="hidden" name="post_id" value="<%= post.idpost %>">
                        <input type="text" name="texto" class="comment-input" placeholder="Adicione um comentário..."
                            required>
                        <button type="submit" class="comment-button">Responder</button>
                    </form>
                    <% if (post.comentarios) { %>
                        <% post.comentarios.forEach((comentario) => { %>
                            <div class="d-flex align-items-start flex-column">
                                <div class="d-flex align-items-center">
                                    <img src="<%= comentario.fotoPerfil %>" alt="Foto de perfil do usuário"
                                        class="user-profile-picture">
                                    <strong class="ml-2 username"><%= comentario.autor %></strong>
                                </div>
                                <p class="comment mt-2">
                                    <%= comentario.texto %>
                                </p>
                            </div>
                        <% }); %>
                    <% } %>
                </div>
</div>

</div>
<div class="col-md-2"></div>
</div>