<div class="feeds">
  <div class="feeds-a">
    <a href="/foryou">Foryou</a>
    <a href="/seguindo"><strong>Seguindo</strong></a>
  </div>
</div>
<div class="posts">
  <% posts.forEach((post) => { %>
  <div class="post">
    <div class="post-header">
      <div class="foto-coluna">
        <a href="/perfil/<%= post.autorId %>">
          <img src="<%= post.fotoPerfil %>" alt="Foto de perfil do usuário" class="user-profile-picture">
        </a>
      </div>
        <a href="/post/<%= post.idpost %>">
          <div class="post-coluna">
            <div>
            <span class="autor-post"><%= post.autor %></span>
            <span class="data-post"><%= post.data %> </span>
            </div>
            <span class="texto-post"><%= post.texto %></span>
          </div>
  
    </div>
      <% if ( post.postType === 'undefined') { post.postType = 'música'; } %>
                          <% if (post.postType === 'album') { %>
                            <div class="container-album">
                              <img src="<%= post.posterAlbum %>" alt="Poster do álbum" class="album-poster">
                              <div class="column">
                                <h2 class="titulo-album"><%= post.albumName %></h2>
                                <h3 class="artist-name">
                                  <%= post.artistName %> • <%= post.postType %> • <%= new Date(post.releaseDate).getFullYear() %> • 
                                  <% for(let i = 0; i < 5; i++) { %>
                                    <% if(post.nota > i) { %>
                                      <% if(post.nota > i && post.nota < i+1) { %>
                                        <i class="bi bi-star-half"></i>
                                      <% } else { %>
                                        <i class="bi bi-star-fill"></i>
                                      <% } %>
                                    <% } else { %>
                                      <i class="bi bi-star"></i>
                                    <% } %>
                                  <% } %>
                                </h3>
                              </div>
                            </div>
                          <% } else { %>
                            <div class="container-musica">
                              <img src="<%= post.posterMusica %>" alt="Poster da música" class="music-poster">
                              <div class="column">
                                <h2 class="titulo-musica"><%= post.musicName %></h2>
                                <h3 class="artist-name">
                                  <%= post.artistName %> • <%= post.postType %> • <%= new Date(post.releaseDate).getFullYear() %> •
                                  <% for(let i = 0; i < 5; i++) { %>
                                    <% if(post.nota > i) { %>
                                      <% if(post.nota > i && post.nota < i+1) { %>
                                        <i class="bi bi-star-half"></i>
                                      <% } else { %>
                                        <i class="bi bi-star-fill"></i>
                                      <% } %>
                                    <% } else { %>
                                      <i class="bi bi-star"></i>
                                    <% } %>
                                  <% } %>
                                </h3> 
                              </div>
                            </div>
                          <% } %>
                          <div class="interacoes">
                            <button type="button" class="btn botao-interacao" >
                              <i class="bi bi-chat"></i> <small class="comment-count"><%= post.quantidadeComentarios %></small>
                            </button>
                            <a class="likes-count like-button" data-post-id="<%= post.idpost %>" href="<% if(likesList.includes(post.idpost)) { %>/post/descurtir/<%- post.idpost %><% } else { %>/post/curtir/<%- post.idpost %><% } %>">
                              <% if(likesList.includes(post.idpost)) { %>
                                <i class="bi-heart-fill btn botao-interacao"></i>
                              <% } else { %>
                                <i class="bi bi-heart btn botao-interacao"></i>
                              <% } %>
                              <span class="numero"><%= post.likes %></span>
                            </a>
                          </div>
                        </a>
                        
  </div>
  <% }); %>
  <div class="fixed-bottom mb-3">
    <span class="botao-criarpost"><i class="bi bi-music-note"></i></span>
    <div id="overlay"></div>
    <div id="search-bar">
        <input type="text" id="search-input" placeholder="Digite a música">
        <div id="search-results"></div>
    </div>
</div>
</div>
<body>
<script>  
  let redirect_uri = "https://tunetalk.tech/seguindo";
</script>

<!-- Api Spotify -->
<script src="/script/apiSpotify.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  $('.like-button').on('click', function(event){
    event.preventDefault();
    const postId = $(this).data('post-id');
    const likeCount = $(this).find('.numero'); 
    const likeIcon = $(this).find('i');
    const hasLiked = likeIcon.hasClass('bi-heart-fill');
    const url = hasLiked ? `/post/descurtir/${postId}` : `/post/curtir/${postId}`;
    $.ajax({
      url: url,
      method: 'GET',
      success: function(response){
        likeCount.text(response.likeCount);
        if(hasLiked){
          likeIcon.removeClass('bi-heart-fill');
          likeIcon.addClass('bi-heart');
        } else {
          likeIcon.removeClass('bi-heart');
          likeIcon.addClass('bi-heart-fill');
        }
      }
    })
  })
</script>
</body>

