<div class="feeds">
  <div class="feeds-a">
    <a href="/foryou">Foryou</a>
    <a href="/seguindo"><strong>Seguindo</strong></a>
  </div>
</div>

<div class="container-xl">
  <div class="row">
      <% posts.forEach((post) => { %>
          <div class="col-lg-10 offset-lg-1">
              <div class="card mb-3 post">
                  <div class="card-header">
                      <div class="row">
                        <a href="/perfil/<%= post.autorId %>">
                          <div class="col-auto">
                                  <img src="<%= post.fotoPerfil %>" alt="Foto de perfil do usuário" class="user-profile-picture rounded-circle">
                              </a>
                          </div>
                          <div class="col d-flex justify-content-between">
                            <div>
                              <a href="/perfil/<%= post.autorId %>">
                              <span class="autor-post"><%= post.autor %></span>
                              <span class="data-post"><%= post.data %> </span>
                            </a>
                            </div>
                          
                            <div class="dropdown">
                              <a style="color: #fff;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                              </a>
                              <ul class="dropdown-menu">
                                <li>
                                    <% if (usuario.id === post.autorId) { %>
                                      <a class="dropdown-item" href="/post/deletar/<%= post.idpost %>">Deletar</a>
                                    <% } else { %>
                                      <a class="dropdown-item" href="#">Denunciar</a>
                                    <% } %>
                                  </li>
                              </ul>
                            </div>
                          </div>
                            
                      </div>
                  </div>
                  <div class="card-body">
                    <a href="/post/<%= post.idpost %>">
                      <h5 class="card-title texto-post"><%= post.texto %></h5>
                      <% if (post.postType === 'undefined') { post.postType = 'música'; } %>
                      <% if (post.postType === 'album') { %>
                          <div class="container-album">
                              <img src="<%= post.posterAlbum %>" alt="Poster do álbum" class="album-poster">
                              <div class="column">
                                  <h2 class="titulo-album"><%= post.albumName %></h2>
                                  <h3 class="artist-name">
                                        <%= post.artistName %> • <%= post.postType %> • <%= isNaN(post.releaseDate / 60) ? new Date(post.releaseDate).getFullYear() : Math.round(post.releaseDate / 60) + ' min' %> •
                                      <% for(let i = 0; i < 5; i++) { %>
                                          <% if(post.nota > i) { %>
                                              <% if(post.nota > i && post.nota < i+1) { %>
                                                  <i class="bi bi-star-half"></i>
                                              <% } else { %>
                                                  <i class="bi bi-star-fill"></i>
                                              <% } %>
                                          <% } else { %>
                                              <i class="bi bi-star"></i>
                                          <% } %>
                                      <% } %>
                                  </h3>
                              </div>
                          </div>
                      <% } else { %>
                        <div class="container-musica d-flex">
                          <img src="<%= post.posterMusica %>" alt="Poster da música" class="music-poster">
                          <div class="d-flex align-items-center justify-content-between w-100">
                              <div>
                                  <h2 class="titulo-musica"><%= post.musicName %></h2>
                                  <h3 class="artist-name">
                                      <%= post.artistName %> • <%= post.postType %> • <%= isNaN(post.releaseDate / 60) ? new Date(post.releaseDate).getFullYear() : Math.round(post.releaseDate / 60) + ' min' %> •
                                      <% for(let i = 0; i < 5; i++) { %>
                                          <% if(post.nota > i) { %>
                                              <% if(post.nota > i && post.nota < i+1) { %>
                                                  <i class="bi bi-star-half"></i>
                                              <% } else { %>
                                                  <i class="bi bi-star-fill"></i>
                                              <% } %>
                                          <% } else { %>
                                              <i class="bi bi-star"></i>
                                          <% } %>
                                      <% } %>
                                  </h3>
                              </div> 
                            </a>
                              <div class="botao-play ml-auto" style="margin-right: 1rem;">
                                  <% if(post.musicPreview) { %>
                                      <button class="play-pause-btn" onclick="togglePlayPause(this, '<%= post.musicPreview %>')">
                                          <i class="bi bi-play-fill"></i>
                                      </button>
                                  <% } %> 
                              </div>
                          </div>
                      </div>
                      <% } %>
                  </div>

                  <div class="card-footer">
                      <div class="interacoes">
                        <a href="/post/<%= post.idpost %>">
                          <button type="button" class="btn botao-interacao">
                              <i class="bi bi-chat" style="color: #2ba84a;  "></i> <small class="comment-count"style="color: #2ba84a; "><%= post.quantidadeComentarios %></small>
                          </button>
                        </a>
                          <a class="likes-count like-button" data-post-id="<%= post.idpost %>" href="<% if(likesList.includes(post.idpost)) { %>/post/descurtir/<%- post.idpost %><% } else { %>/post/curtir/<%- post.idpost %><% } %>">
                              <% if(likesList.includes(post.idpost)) { %>
                                  <i class="bi-heart-fill btn botao-interacao"></i>
                              <% } else { %>
                                  <i class="bi bi-heart btn botao-interacao"></i>
                              <% } %>
                              <span class="numero"><%= post.likes %></span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      <% }); %>
  </div>

  <div class="fixed-bottom mb-3">
      <span class="botao-criarpost"><i class="bi bi-music-note"></i></span>
      <div id="overlay"></div>
      <div id="search-bar" class="input-group">
          <input type="text" id="search-input" class="form-control" placeholder="Digite a música">
          <div id="search-results"></div>
      </div>
  </div>
</div>
  <body>
    <!-- Api Spotify -->
    <script src="/script/apiDeezer.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
      $('.like-button').on('click', function(event){
        event.preventDefault();
        const postId = $(this).data('post-id');
        const likeCount = $(this).find('.numero'); 
        const likeIcon = $(this).find('i');
        const hasLiked = likeIcon.hasClass('bi-heart-fill');
        const url = hasLiked ? `/post/descurtir/${postId}` : `/post/curtir/${postId}`;
        $.ajax({
          url: url,
          method: 'GET',
          success: function(response){
            likeCount.text(response.likeCount);
            if(hasLiked){
              likeIcon.removeClass('bi-heart-fill');
              likeIcon.addClass('bi-heart');
            } else {
              likeIcon.removeClass('bi-heart');
              likeIcon.addClass('bi-heart-fill');
            }
          }
        })
      })

      let audio;

      function togglePlayPause(btn, previewUrl) {
          const playIcon = 'bi-play-fill';
          const pauseIcon = 'bi-pause-fill';
  
          if (!audio) {
              audio = new Audio(previewUrl);
              audio.addEventListener('ended', function() {
                  btn.children[0].classList.remove(pauseIcon);
                  btn.children[0].classList.add(playIcon);
              });
          }
  
          if (btn.children[0].classList.contains(playIcon)) {
              audio.play();
              btn.children[0].classList.remove(playIcon);
              btn.children[0].classList.add(pauseIcon);
          } else {
              audio.pause();
              btn.children[0].classList.remove(pauseIcon);
              btn.children[0].classList.add(playIcon);
          }
      }

    </script>
  </body>

  