<div class="row mt-5" style="margin: 0;">
    <div class="col-2"></div>
    <div class="col-md-8">
        <div class="row mb-5">
            <div class="col-2">
                <img src="<%= usuario2.fotoPerfil %>" alt="Foto de perfil do usuário" class="profile-picture">
            </div>
            <div class="col-8 justify-content-center textoPerfil">
                <h1><%= usuario2.nome %></h1>
                <span><%= usuario2.bio %></span>
            </div>
        </div>
        <% posts.forEach((post) => { %>
            <div class="col-2"></div>
            <div class="col-md-8">
              <a href="/post/<%= post.idpost %>">
                <div class="card mb-4" style="border: none;">
                  <div class="card-body post-container">
                    <div class="d-flex align-items-center post-header">
                      <div class="row" style="width: 100%;">
                        <div class="d-flex mb-2" style="padding: 0;">
                            <div class="container-imagem">
                                <img src="<%= post.fotoPerfil %>" alt="Foto de perfil do usuário" class="user-profile-picture">
                            </div>
                          <div class="nome-texto">
                              <h4 class="username"><%= post.autor %></h4>
                              <p class="card-text"><%= post.texto %></p>
                              <% if ( post.postType === 'undefined') { post.postType = 'música'; } %>
                              <% if (post.postType === 'album') { %>
                                <div class="container-album">
                                  <img src="<%= post.posterAlbum %>" alt="Poster do álbum" class="album-poster">
                                  <div class="column">
                                    <h2 class="titulo-album"><%= post.albumName %></h2>
                                    <%= post.artistName %> • <%= post.postType %> • <%= new Date(post.releaseDate).getFullYear() %> • 
                                      <% for(let i = 0; i < 5; i++) { %>
                                        <% if(post.nota > i) { %>
                                          <% if(post.nota > i && post.nota < i+1) { %>
                                            <i class="bi bi-star-half"></i>
                                          <% } else { %>
                                            <i class="bi bi-star-fill"></i>
                                          <% } %>
                                        <% } else { %>
                                          <i class="bi bi-star"></i>
                                        <% } %>
                                      <% } %>
                                  </div>
                                </div>
                              <% } else { %>
                                <div class="container-musica">
                                  <img src="<%= post.posterMusica %>" alt="Poster da música" class="music-poster">
                                  <div class="column">
                                    <h2 class="titulo-musica"><%= post.musicName %></h2>
                                    <h3 class="artist-name"><%= post.artistName %> • <%= post.postType %> • <%= new Date(post.releaseDate).getFullYear() %> • 
                                      <% for(let i = 0; i < 5; i++) { %>
                                        <% if(post.nota > i) { %>
                                          <% if(post.nota > i && post.nota < i+1) { %>
                                            <i class="bi bi-star-half"></i>
                                          <% } else { %>
                                            <i class="bi bi-star-fill"></i>
                                          <% } %>
                                        <% } else { %>
                                          <i class="bi bi-star"></i>
                                        <% } %>
                                      <% } %>
                                  </div>
                                </div>
                              <% } %>
                            </div>
                          </div>
                          </div>
                        </div>
                    <div class="d-flex justify-content-around align-items-center">
                      <button type="button" class="btn botao-like" data-bs-toggle="collapse"
                      data-bs-target="#comments<%= post.idpost %>" aria-expanded="false"
                      aria-controls="comments<%= post.idpost %>">
                      <i class="bi bi-chat"></i> <small class="comment-count"><%= post.quantidadeComentarios %></small>
                  </button>
                            <a class="likes-count" href="/post/curtir/<%- post.idpost %>"><i class="bi bi-heart btn botao-like"></i>
                                <%= post.likes %> </small></a>
                        </div>
                        <div class="collapse comments" id="comments<%= post.idpost %>">
                            <form class="comentario-form-<%= post.idpost %>" action="/comentarios" method="POST">
                                <input type="hidden" name="post_id" value="<%= post.idpost %>">
                                <input type="text" name="texto" class="comment-input" placeholder="Adicione um comentário..."
                                    required>
                                <button type="submit" class="comment-button">Responder</button>
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
            </a>

        <div class="col-2"></div>
        <% }); %>

    <div class="col-2"></div>

        <div id="popup" style="display: none;">
            <form action="/perfil/editar" method="post" enctype="multipart/form-data">
                <div class="row d-flex">
                  <div class="header-editar-perfil">
                    <div>
                      <i style="cursor: pointer; font-size: 1.2rem;" class="bi bi-x-lg"></i>
                      <span>Editar perfil</span>
                    </div>
                    <input id="btn-salvar-edicao" type="submit" value="Salvar">
                  </div>
                  <div>
                    <img class="profile-picture" src="<%= usuario2.fotoPerfil %>" alt="Foto de perfil" style="cursor: pointer;" onclick="document.getElementById('foto').click();">
                    <input type="file" id="foto" name="foto" style="display: none;">
                  </div> 
                  <div class="editar-perfil-inputs">
                    <input type="text" id="nome" name="nome" value="<%= usuario2.nome %>">
                    <input type="text" id="bio" name="bio" value="<%= usuario2.bio %>">
                  </div>
                </div>
              </form>
          </div>
          
          <div id="overlay" style="display: none; position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0, 0, 0, 0.5);"></div>

</div>